/* 

#headline{
    color  : rgb(238, 238, 238);
    background-color : rgb(255, 123, 0) ; 


} 
body { 
    color : rgb(1, 0, 12);
   

     background-color : rgb(255, 255, 255);
}
 h1 {
    background-color : red;
    text-align : center ; 
 }
 p{ 
    text-align: left;
    text-decoration: dashed ;
    font-family: sans-serif;
    text-transform: capitalize;

 }
 .class {
    font-size: 20px;
    line-height: 50px;
 }
 div {
    height: 100px;
    width: 200px;;
    background-color: aqua;
    border-width: 5px;
    border-color: black;
 } */


 /* set 2 */

 div {
   height : 100px;
   width : 100px;
   background-color : pink;
   border-radius :50%;
  padding : 50px;
   


 }
 #class {
   text-align: center;
   background-color: black;
   height : 600px;
   width: 200px;
   border-radius :10px;
  


 }


